body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

.text-yellow {
  color: #fce700;
}

.text-blue {
  color: #3330e4;
}

.bg-blue {
  background-color: #3330e4;
}

.bg-yellow {
  background-color: #fce700;
}

.bg-quote {
  background-image: url("asset/img/bg-quote.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  image-rendering: crisp-edges;
  min-height: 65vh;
}

.bg-work {
  background-image: url("asset/img/bg-work.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  image-rendering: crisp-edges;
  min-height: 75vh;
}

.ls-2 {
  letter-spacing: 2px;
}

.button-outline-yellow {
  border: 2px solid #fce700;
  color: #fce700;
  background: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.button-outline-yellow:hover {
  background: #fce700;
  color: #ffffff;
}

.button-outline-blue {
  border: 2px solid #3330e4;
  color: #3330e4;
  background: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.button-outline-blue:hover {
  background: #3330e4;
  color: #ffffff;
}

.button-fill-blue {
  background-color: #3330e4;
  color: white;
  padding: 10px 20px;
  border-color: #3330e4;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.button-fill-blue:hover {
  background: #ffffff;
  color: #3330e4;
}

.img-rounded {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 50%;
}

.content {
  height: 60%;
  width: 55%;
  transform: translate(-50%, -50%);
}

#cursor-pointer {
  cursor: pointer;
}

.content-tugas {
  max-width: 1024px;
  width: 100%;
  padding: 0 4%;
  padding-top: 7%;
  padding-bottom: 7%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .content-tugas {
    padding-top: 300px;
    flex-direction: column;
  }
}

.card-tugas {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #292929;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card-tugas .title-tugas {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-tugas .text-tugas {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card-tugas:hover {
  height: 270px;
}

.card-tugas:hover .text-tugas {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}
